WebAppTest/.vs/WebAppTest/config/applicationhost.config
WebAppTest/.vs/WebAppTest/FileContentIndex/9ec877d1-0160-4f20-a1c2-0e850ab310c4.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/bf07d4a0-9294-4f09-b568-f44d505b84a6.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/cc3726ce-e56f-4e2e-b6ca-10c553e94551.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/cd9307b3-6a24-456a-b3f4-058e080402e4.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/read.lock
WebAppTest/.vs/WebAppTest/v17/.suo
WebAppTest/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WebAppTest/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
WebAppTest/bin/Microsoft.Web.Infrastructure.dll
WebAppTest/bin/System.Web.Helpers.dll
WebAppTest/bin/System.Web.Helpers.xml
WebAppTest/bin/System.Web.Mvc.dll
WebAppTest/bin/System.Web.Mvc.xml
WebAppTest/bin/System.Web.Razor.dll
WebAppTest/bin/System.Web.Razor.xml
WebAppTest/bin/System.Web.Webpages.Deployment.dll
WebAppTest/bin/System.Web.Webpages.Deployment.xml
WebAppTest/bin/System.Web.Webpages.dll
WebAppTest/bin/System.Web.Webpages.Razor.dll
WebAppTest/bin/System.Web.Webpages.Razor.xml
WebAppTest/bin/System.Web.Webpages.xml
WebAppTest/bin/WebAppTest.dll
WebAppTest/bin/WebAppTest.dll.config
WebAppTest/bin/WebAppTest.pdb
WebAppTest/bin/roslyn/csc.exe
WebAppTest/bin/roslyn/csc.exe.config
WebAppTest/bin/roslyn/csc.rsp
WebAppTest/bin/roslyn/csi.exe
WebAppTest/bin/roslyn/csi.exe.config
WebAppTest/bin/roslyn/csi.rsp
WebAppTest/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
WebAppTest/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
WebAppTest/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
WebAppTest/bin/roslyn/Microsoft.CodeAnalysis.dll
WebAppTest/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
WebAppTest/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
WebAppTest/bin/roslyn/Microsoft.CSharp.Core.targets
WebAppTest/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
WebAppTest/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
WebAppTest/bin/roslyn/Microsoft.Managed.Core.targets
WebAppTest/bin/roslyn/Microsoft.VisualBasic.Core.targets
WebAppTest/bin/roslyn/Microsoft.Win32.Primitives.dll
WebAppTest/bin/roslyn/System.AppContext.dll
WebAppTest/bin/roslyn/System.Collections.Immutable.dll
WebAppTest/bin/roslyn/System.Console.dll
WebAppTest/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
WebAppTest/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
WebAppTest/bin/roslyn/System.Diagnostics.StackTrace.dll
WebAppTest/bin/roslyn/System.Globalization.Calendars.dll
WebAppTest/bin/roslyn/System.IO.Compression.dll
WebAppTest/bin/roslyn/System.IO.Compression.ZipFile.dll
WebAppTest/bin/roslyn/System.IO.FileSystem.dll
WebAppTest/bin/roslyn/System.IO.FileSystem.Primitives.dll
WebAppTest/bin/roslyn/System.Net.Http.dll
WebAppTest/bin/roslyn/System.Net.Sockets.dll
WebAppTest/bin/roslyn/System.Reflection.Metadata.dll
WebAppTest/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
WebAppTest/bin/roslyn/System.Security.Cryptography.Algorithms.dll
WebAppTest/bin/roslyn/System.Security.Cryptography.Encoding.dll
WebAppTest/bin/roslyn/System.Security.Cryptography.Primitives.dll
WebAppTest/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
WebAppTest/bin/roslyn/System.Text.Encoding.CodePages.dll
WebAppTest/bin/roslyn/System.Threading.Tasks.Extensions.dll
WebAppTest/bin/roslyn/System.ValueTuple.dll
WebAppTest/bin/roslyn/System.Xml.ReaderWriter.dll
WebAppTest/bin/roslyn/System.Xml.XmlDocument.dll
WebAppTest/bin/roslyn/System.Xml.XPath.dll
WebAppTest/bin/roslyn/System.Xml.XPath.XDocument.dll
WebAppTest/bin/roslyn/vbc.exe
WebAppTest/bin/roslyn/vbc.exe.config
WebAppTest/bin/roslyn/vbc.rsp
WebAppTest/bin/roslyn/VBCSCompiler.exe
WebAppTest/bin/roslyn/VBCSCompiler.exe.config
WebAppTest/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
WebAppTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebAppTest/obj/Debug/WebAppTest.csproj.AssemblyReference.cache
WebAppTest/obj/Debug/WebAppTest.csproj.CopyComplete
WebAppTest/obj/Debug/WebAppTest.csproj.CoreCompileInputs.cache
WebAppTest/obj/Debug/WebAppTest.csproj.FileListAbsolute.txt
WebAppTest/obj/Debug/WebAppTest.dll
WebAppTest/obj/Debug/WebAppTest.pdb
WebAppTest/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
WebAppTest/obj/Release/_WPPLastBuildInfo.txt
WebAppTest/obj/Release/CSAutoParameterize.parameters.xml
WebAppTest/obj/Release/WebAppTest.csproj.AssemblyReference.cache
WebAppTest/obj/Release/WebAppTest.csproj.CopyComplete
WebAppTest/obj/Release/WebAppTest.csproj.CoreCompileInputs.cache
WebAppTest/obj/Release/WebAppTest.csproj.FileListAbsolute.txt
WebAppTest/obj/Release/WebAppTest.dll
WebAppTest/obj/Release/WebAppTest.pdb
WebAppTest/obj/Release/CSAutoParameterize/original/Web.config
WebAppTest/obj/Release/CSAutoParameterize/original/Views/web.config
WebAppTest/obj/Release/CSAutoParameterize/transformed/Web.config
WebAppTest/obj/Release/CSAutoParameterize/transformed/Views/web.config
WebAppTest/obj/Release/Package/WebAppTest.SourceManifest.xml
WebAppTest/obj/Release/Package/PackageTmp/Global.asax
WebAppTest/obj/Release/Package/PackageTmp/Web.config
WebAppTest/obj/Release/Package/PackageTmp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/Microsoft.Web.Infrastructure.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/System.Web.Helpers.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/System.Web.Mvc.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/System.Web.Razor.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/System.Web.Webpages.Deployment.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/System.Web.Webpages.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/System.Web.Webpages.Razor.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/WebAppTest.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/WebAppTest.pdb
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe.config
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe.config
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Managed.Core.targets
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Win32.Primitives.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.AppContext.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Collections.Immutable.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Console.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.StackTrace.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Globalization.Calendars.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Compression.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Compression.ZipFile.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.Primitives.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Net.Http.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Net.Sockets.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Reflection.Metadata.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Algorithms.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Encoding.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Primitives.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Text.Encoding.CodePages.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Threading.Tasks.Extensions.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.ValueTuple.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.ReaderWriter.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XmlDocument.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.XDocument.dll
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe.config
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
WebAppTest/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
WebAppTest/obj/Release/Package/PackageTmp/Content/mystyle.css
WebAppTest/obj/Release/Package/PackageTmp/Content/Site.css
WebAppTest/obj/Release/Package/PackageTmp/Views/_ViewStart.cshtml
WebAppTest/obj/Release/Package/PackageTmp/Views/web.config
WebAppTest/obj/Release/Package/PackageTmp/Views/Home/Index.cshtml
WebAppTest/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
WebAppTest/obj/Release/TransformWebConfig/assist/Web.config
WebAppTest/obj/Release/TransformWebConfig/original/Web.config
WebAppTest/obj/Release/TransformWebConfig/transformed/Web.config
WebAppTest/packages/Microsoft.AspNet.Mvc.5.2.9/.signature.p7s
WebAppTest/packages/Microsoft.AspNet.Mvc.5.2.9/Microsoft.AspNet.Mvc.5.2.9.nupkg
WebAppTest/packages/Microsoft.AspNet.Mvc.5.2.9/NET.icon.png
WebAppTest/packages/Microsoft.AspNet.Mvc.5.2.9/NET_Library_EULA_ENU.txt
WebAppTest/packages/Microsoft.AspNet.Mvc.5.2.9/Content/Web.config.install.xdt
WebAppTest/packages/Microsoft.AspNet.Mvc.5.2.9/Content/Web.config.uninstall.xdt
WebAppTest/packages/Microsoft.AspNet.Mvc.5.2.9/lib/net45/System.Web.Mvc.dll
WebAppTest/packages/Microsoft.AspNet.Mvc.5.2.9/lib/net45/System.Web.Mvc.xml
WebAppTest/packages/Microsoft.AspNet.Razor.3.2.9/.signature.p7s
WebAppTest/packages/Microsoft.AspNet.Razor.3.2.9/Microsoft.AspNet.Razor.3.2.9.nupkg
WebAppTest/packages/Microsoft.AspNet.Razor.3.2.9/NET.icon.png
WebAppTest/packages/Microsoft.AspNet.Razor.3.2.9/NET_Library_EULA_ENU.txt
WebAppTest/packages/Microsoft.AspNet.Razor.3.2.9/lib/net45/System.Web.Razor.dll
WebAppTest/packages/Microsoft.AspNet.Razor.3.2.9/lib/net45/System.Web.Razor.xml
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/.signature.p7s
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/Microsoft.AspNet.WebPages.3.2.9.nupkg
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/NET.icon.png
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/NET_Library_EULA_ENU.txt
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/Content/Web.config.install.xdt
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/Content/Web.config.uninstall.xdt
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/lib/net45/System.Web.Helpers.dll
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/lib/net45/System.Web.Helpers.xml
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/lib/net45/System.Web.WebPages.Deployment.dll
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/lib/net45/System.Web.WebPages.Deployment.xml
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/lib/net45/System.Web.WebPages.dll
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/lib/net45/System.Web.WebPages.Razor.dll
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/lib/net45/System.Web.WebPages.Razor.xml
WebAppTest/packages/Microsoft.AspNet.WebPages.3.2.9/lib/net45/System.Web.WebPages.xml
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/.signature.p7s
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1.nupkg
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.install.xdt
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.uninstall.xdt
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.install.xdt
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.uninstall.xdt
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.install.xdt
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.uninstall.xdt
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.install.xdt
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.uninstall.xdt
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/install.ps1
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/uninstall.ps1
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe.config
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.rsp
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.exe
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.rsp
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.Build.Tasks.CodeAnalysis.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.Scripting.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.Scripting.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.VisualBasic.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CSharp.Core.targets
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.amd64.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.x86.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.VisualBasic.Core.targets
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.AppContext.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Collections.Immutable.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Diagnostics.StackTrace.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.Primitives.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Reflection.Metadata.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe.config
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.rsp
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe.config
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe.config
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.rsp
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe.config
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.rsp
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Build.Tasks.CodeAnalysis.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.Scripting.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.Scripting.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.VisualBasic.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CSharp.Core.targets
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.amd64.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.x86.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Managed.Core.targets
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.VisualBasic.Core.targets
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Win32.Primitives.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.AppContext.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Collections.Immutable.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Console.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.DiagnosticSource.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.FileVersionInfo.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.StackTrace.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Globalization.Calendars.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.ZipFile.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.Primitives.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Http.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Sockets.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Reflection.Metadata.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Runtime.InteropServices.RuntimeInformation.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Algorithms.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Encoding.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Primitives.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.X509Certificates.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Text.Encoding.CodePages.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Threading.Tasks.Extensions.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.ValueTuple.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.ReaderWriter.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XmlDocument.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.XDocument.dll
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe.config
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.rsp
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe
WebAppTest/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe.config
WebAppTest/packages/Microsoft.Web.Infrastructure.2.0.1/.signature.p7s
WebAppTest/packages/Microsoft.Web.Infrastructure.2.0.1/Microsoft.Web.Infrastructure.2.0.1.nupkg
WebAppTest/packages/Microsoft.Web.Infrastructure.2.0.1/NET.icon.png
WebAppTest/packages/Microsoft.Web.Infrastructure.2.0.1/NET_Library_EULA_ENU.txt
WebAppTest/packages/Microsoft.Web.Infrastructure.2.0.1/lib/net40/Microsoft.Web.Infrastructure.dll
WebAppTest/.vs/WebAppTest/FileContentIndex/9cce5149-efde-4714-bb69-e09e5a211437.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/ac70233d-bfa0-4e25-9791-8476c5c613f7.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/c4e3d9ce-650a-4c5d-9b8d-f36334623680.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/d318086b-5b68-4f5f-b62d-ab38d543b5dc.vsidx
WebAppTest/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WebAppTest/.vs/WebAppTest/FileContentIndex/25cceccd-a71f-469b-abf2-076aa7168802.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/897bd9af-061d-4f19-ab9d-07d015f90a48.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/dbbe802b-a319-4da0-bb21-f7761f45af48.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/e37aaa05-b137-49e0-b0d0-6d21486413fb.vsidx
WebAppTest/obj/Release/Package/PackageTmp/Content/mycv.css
WebAppTest/obj/Release/Package/PackageTmp/Images/avatar.jpg
WebAppTest/obj/Release/Package/PackageTmp/Scripts/demo_workes.js
WebAppTest/obj/Release/Package/PackageTmp/Views/MyCV/Index.cshtml
WebAppTest/.vs/WebAppTest/FileContentIndex/022ba346-4851-4f74-b462-a7630755d61a.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/7f3022df-4ba6-47c2-a7e4-1f32603dcc69.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/d770dff0-3443-4dc9-ba56-9f7c2820d3a8.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/e00acf0d-be30-4c5d-b87c-188af37cef91.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/02885344-4fed-4b35-86b0-b375704d696d.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/0d7c1d6c-ca7a-4502-a9c4-f80e2759dd0c.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/2293206a-ecda-4fe4-9e36-0f202b4bac2d.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/e2f7477c-a663-4326-922d-d8538521d1e3.vsidx
WebAppTest/.vs/WebAppTest/v16/.suo
WebAppTest/.vs/WebAppTest/FileContentIndex/1d9c2d6d-7efb-465b-a965-27715547ecdc.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/2dbce35e-0774-462e-a9ab-9939bfda7f64.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/b5c09572-3c92-4639-a907-a4d88a8a8bb4.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/c065e4d3-d10b-4d68-94fa-58dcc36d92f4.vsidx
WebAppTest/obj/Release/Package/PackageTmp/Content/clock.css
WebAppTest/obj/Release/Package/PackageTmp/Content/hpbd.css
WebAppTest/obj/Release/Package/PackageTmp/Images/hpbd/Pngtreehappybirthday.png
WebAppTest/obj/Release/Package/PackageTmp/Images/hpbd/pngwing.com.png
WebAppTest/obj/Release/Package/PackageTmp/Images/hpbd/pngwing.com_boy.png
WebAppTest/obj/Release/Package/PackageTmp/Images/hpbd/pngwing.com_girl.png
WebAppTest/obj/Release/Package/PackageTmp/Scripts/clock.js
WebAppTest/obj/Release/Package/PackageTmp/Scripts/hpbd.js
WebAppTest/obj/Release/Package/PackageTmp/Views/Clock/Index.cshtml
WebAppTest/obj/Release/Package/PackageTmp/Views/HPBD/Index.cshtml
WebAppTest/obj/Release/Package/PackageTmp/Content/pictures.css
WebAppTest/obj/Release/Package/PackageTmp/Images/pictures/full_size_20160427203644.jpg
WebAppTest/obj/Release/Package/PackageTmp/Scripts/pictures.js
WebAppTest/obj/Release/Package/PackageTmp/Views/Pictures/Index.cshtml
WebAppTest/.vs/WebAppTest/FileContentIndex/657b291e-5ed2-4dcc-ba06-1b8ac4cb8418.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/9873c1ea-7f40-4c06-a735-cdd8c2894024.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/aebc1bc4-9781-4463-bfc3-4deb6a6065b2.vsidx
WebAppTest/.vs/WebAppTest/FileContentIndex/ee32123d-caa0-47fe-a18e-bcce3cfe71ad.vsidx
