<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="DirectoryLocal" value="C:\My Drive\odoo_backups\" />
		<add key="SftpHost" value="171.244.143.201" />
		<add key="SftpUser" value="sftpuser" />
		<add key="SftpPwd" value="sftp2024!@" />
	</appSettings>
</configuration>