@model List<WebAppTest.Models.Pictures>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/gallery.css" rel="stylesheet" />
</head>
<body>
    <div class="m-p-g">
        <div class="m-p-g__thumbs" data-google-image-layout data-max-height="350">
            @{foreach (var picture in @Model)
                {
                    @*<img src="http://unsplash.it/600/400?image=940" data-full="http://unsplash.it/1200/800?image=940" class="m-p-g__thumbs-img" />*@
                    <img class="m-p-g__thumbs-img" src="@picture.Link" data-full="@picture.Link"/>
                }
            }
        </div>

        <div class="m-p-g__fullscreen"></div>
    </div>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/material-photo-gallery.min.js"></script>
    <script>
        var elem = document.querySelector('.m-p-g');

        document.addEventListener('DOMContentLoaded', function () {
            var gallery = new MaterialPhotoGallery(elem);
        });
    </script>
</body>
</html>
