@model List<string>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pictures Album</title>
    <link href="~/Content/pictures.css" rel="stylesheet" />
</head>
<body>
    <div class="listPictures">
        <ul>
            @{
                int i = 0;
                foreach (var picture in @Model)
                {
                    i++;
                    <li class="image">
                        <img src="@picture">
                        <p>image #@i</p>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="container">
        <div id="prepic" class="section"><</div>
        <div class="picDetails">
            <a id="closebtn" class="close"></a>
            <img class="picTag">
            <p class="details">Image</p>
        </div>
        <div id="nextpic" class="section">></div>
    </div>
    <script src="~/Scripts/pictures.js"></script>
</body>
</html>
