@model List<WebAppTest.Models.Pictures>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pictures Album</title>
    <link href="~/Content/pictures.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="listPictures">
        <ul>
            @{foreach (var picture in @Model)
                {
                    <li class="image">
                        <p id="picid" class="picid">@picture.Id</p>
                        <img src="@picture.Link">
                        <p id="image">image #@picture.Id</p>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="container">
        <p id="piciddt" class="picid"></p>
        <div id="prepic" class="section"><</div>
        <figure class="picDetails thumbnail">
            <a id="closebtn" class="close"></a>
            <img class="picTag">
            <figcaption class="details"></figcaption>
        </figure>
        <div id="nextpic" class="section">></div>
    </div>
    <script src="~/Scripts/pictures.js">
    </script>
    </body>
</html>
