@model IEnumerable<WebAppLearning.Models.Field>

@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome</h1>
        <p class="lead">Courses is where learners come to learn the skill they need. Discover thousands of free course.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    @foreach (var item in Model)
    {
        <div class="panel panel-default" style="padding:15px;">
            <h1 class="panel-heading">@Html.DisplayFor(modelItem => item.FieldName)</h1>
            <h5 style="margin-left:20px;">@Html.DisplayFor(modelItem => item.FieldDescription)</h5>
            <div class="row">
                @foreach (var subitem in item.Courses)
                {
                    <div class="col-md-3 thumbnail" style="margin-left:30px;margin-bottom:30px;">
                        <img src="~/Uploads/@subitem.CourseImage" class="thumbnail" style="height:128px; width:128px;"/>
                        <h3 style="text-align:center">@Html.DisplayFor(modelItem => subitem.CourseTitle)</h3>
                        <h5>@Html.DisplayFor(modelItem => subitem.CourseContent)</h5>
                        <button class="btn btn-default" style="text-align:center">Details</button>
                    </div>
                }
            </div>
        </div>
    }

    
</main>